body {
  font-family: 'Space Mono', monospace;
  }
  
  .theme {
    padding:32px 0 32px 0;
  }
  
  .working-area {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background-color: rgba(142,36,170,0.3);
    padding: 16px;
    border-radius: 8px;
  }
  
  #footer .footer_image {
    height: 24px;
    width:24px;
    text-align: center;
    padding: 4px;
  }

  .jumbotron{
    background-color: rgb(195, 214, 189) !important; 
    text-align: center;
  }

  .table {
    text-align: center;
    font-family: 'Space Mono', monospace;
    width: 512px !important;
    border: blueviolet !important;
    font-size: x-large;
  }

  .table td .table th {
    padding-top: .75rem;
    padding-bottom: .75rem;
    vertical-align: top;
    border-left: 1px solid #294f75 !important;
    color: blueviolet;
  }